name: CI

on:
  push:

permissions:
  contents: read

jobs:
  build:
    name: Build and Setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build
        uses: ./.github/actions/ci/build

  acc_test:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Repo
        uses: ./.github/actions/ci/setup
      - name: Install Descope CLI
        uses: descope/descopecli/.github/actions/install@592ff44d007a616aa5ceb7cbdc471f02e648ea5f # v0.8.13
      - name: Run Acceptance Tests
        shell: bash
        env:
          DESCOPE_MANAGEMENT_KEY: ${{ secrets.DESCOPE_MANAGEMENT_KEY }}
          DESCOPE_BASE_URL: https://api.descope.com
          DESCOPE_USER_AGENT: ${{ secrets.DESCOPE_USER_AGENT }}
          TF_ACC: 1
        run: |
          echo "Running acceptance tests"
          set +e
          go test -v ./...
          result=$?
          # Set placeholder PROJECT_ID for cleanup (descopecli requires it even for company-level 'list' command)
          DESCOPE_PROJECT_ID=P2placeholder descope project list | grep '"name":"testacc-.*' | sed -e 's/.*"id":"\([^"]*\)".*/\1/' | xargs -I {} descope project delete {} --force
          exit $result

  lint:
    name: Run Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run Linter
        uses: ./.github/actions/ci/lint

  leaks:
    name: Check Leaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Check Leaks
        uses: ./.github/actions/ci/leaks
        with:
          gitleaks_license: ${{ secrets.GITLEAKS_LICENSE }}
